.comming-soon {
    width: 100vw;
    height: 100vh;
    background-color: #cfebea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Comic Sans MS";

    &__logo {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 20px;
    }

    &__container {
        text-align: center;
    }

    &__header {
        font-size: 60px;
        text-transform: uppercase;
    }

    &__header,
    &__message {
        margin: 0;
    }
}
