html {
    font-size: 100%;
}

body {
    @include margin(0);
    @include padding(0);
    background-color: $color__background;
}

* {
    @include font($family: Regular);
    box-sizing: border-box;
    caret-color: $color--primary;
}
