<mat-toolbar class="register-form__header" color="primary">
    <span>Register new account</span>
</mat-toolbar>
<div novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="register-form">
        <section class="register-form__container">
            <div class="register-form__section">
                <mat-form-field class="register-form__element">
                    <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>

                <mat-form-field class="register-form__element">
                    <input matInput placeholder="First name" formControlName="firstName">
                </mat-form-field>

                <mat-form-field class="register-form__element">
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>

                <mat-form-field class="register-form__element">
                    <input matInput placeholder="Country" formControlName="country">
                </mat-form-field>
            </div>
            <div class="register-form__section">
                <mat-form-field class="register-form__element">
                    <input matInput type="password" placeholder="Password" formControlName="password">
                </mat-form-field>

                <mat-form-field class="register-form__element">
                    <input matInput placeholder="Last name" formControlName="lastName">
                </mat-form-field>

                <mat-form-field class="register-form__element">
                    <input matInput placeholder="Confirm email" formControlName="emailConfirmation">
                </mat-form-field>
            </div>
        </section>
        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!formGroup.valid">Submit Form</button>
        </div>
    </form>
</div>
