.form {
    @include flexbox;
    @include flex-direction(column);
    @include padding(40px 48px);
    text-align: center;
    background: rgba(#fafafa, 0.975);
    border: 1px solid #ebebeb;
    box-shadow: rgba(#000000, 0.14902) 0px 1px 1px 0px,
        rgba(#000000, 0.09804) 0px 1px 2px 0px;

    &__header {
        @include margin(0 0 16px 0);
    }

    &__error {
        color: red;
    }
}
