.login-form {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include size($w: 380px);
    @include padding(48px 0);
	background: #fafafa;
	border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,
                rgba(0,0,0,0.09804) 0px 1px 2px 0px;

    &__header {
        @include margin(0 0 16px 0);
    }

    &__element {
        @include margin(5px 0);
    }

    &__actions {
        @include margin(10px 0 0 0);
    }
}
