.register-form {
    @include justify-content(center);
    @include size($w: 50vw, $wNoRem: true);

    &__header {
        @include justify-content(center);
    }

    &__container {
        @include flexbox;
        @include flex-direction(column);
    }

    &__row {
        @include flexbox;
        @include justify-content(space-between);

        & > .mat-form-field {
            @include flex(0.45);
        }
    }

    &__section {
        @include flex-direction(column);
        @include flex(50%);

        &:not(:last-child) {
            @include margin(0 40px 0 0);
        }
    }

    &__element {
        &.mat-form-field {
            display: inline;
        }
    }

    &__actions {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        @include flex(0.45);
        @include margin(13px 0 0 0);
    }

    &__reset {
        text-decoration: none;
        color: blue;

        &:hover {
            cursor: pointer;
        }
    }

    &__mail {
        @include svg-image($w: 100, $h: 100, $source: '../assets/gfx/user-registered-mail.svg');
        @include margin(10px 0);
    }

    &--confirmed {
        @include align-items(center);
    }

    &__error {
        margin-top: 10px;
    }
}
