// Font definitions file
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap');

$font-definition: 'Raleway', sans-serif;

$fonts : (
    Regular:    400,
    Medium:     500,
    Bold:       700
)
