<div class="pricing-plan">
    <ul class="pricing-plan__list">
        <li class="pricing-plan__list-header">{{data.name}}</li>
        <li class="pricing-plan__list-item"><b>{{data.storageSize}}</b> Storage</li>
        <li class="pricing-plan__list-item"><b>{{data.emailsCount}}</b> Emails</li>
        <li class="pricing-plan__list-item"><b>{{data.domainsCount}}</b> Domains</li>
        <li class="pricing-plan__list-item"><b>{{data.supportLength}}</b> Support</li>
        <li class="pricing-plan__list-item">
            <h2>{{data.pricePerMonth}}</h2>
            <span>per month</span>
        </li>
        <li class="pricing-plan__action">
            <button class="pricing-plan__button">Sign Up</button>
        </li>
    </ul>
</div>
